
.tool--list-horizontal a:focus{
  text-decoration: none;
  outline: none
}

.tool--pop-width{
  max-width: 300px;
  min-width:140px;
}

.tool--box{
  border: 1px solid rgba(204,204,204,1);
  position: relative;
  border-radius: 4px;
  font-size: 13px;
  margin: -9px;
  -webkit-box-shadow: 0px 1px 8px rgba(0,0,0,.1);
  box-shadow: 0px 1px 8px rgba(0,0,0,.1);
}

.tool--body{
  margin: 0;
  padding: 10px 12px;
  display: block;
}

.tool--footer{
  border-top: 1px solid rgba(204,204,204,1);
  
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  display: block;
}

.tool--list-horizontal ul{
  position: relative;
  margin: 0;
  padding: 0;
}

.tool--list-horizontal ul li{
  display: block;
  list-style: none;
  text-align: center;
  line-height: 36px;
  border-right: 0px solid rgba(204,204,204,.3);
}





.tool--list-horizontal ul li > a{
  display: block;
  line-height: 36px;
  text-decoration:none;
 background: rgb(245, 245, 245);
}

.tool--list-horizontal ul li > a:hover{
	background:rgba(0,0,0,.1)
}

.tool--list-horizontal ul li > a span{
	position:relative
}
.tool--list-horizontal ul li > a span:before{
	content:'\E80D';
	font-family:'Material Icons';
	font-size:24px;
	position:absolute;
	left:-30px;
	display:block;
}

.tool--body .table{
  margin-bottom: 0;
}
.tool--body .table > tbody > tr > td{
  border: 0;
  padding: 4px;
}
